TeamsAppApiKey=
MessageQueueApiKey=
UiPathAppId=
UiPathAppSecret=
UiPathBaseURL=https://cloud.uipath.com
UiPathOrganizationName=myorg
UiPathTenantName=mytenant
UiPathFolderId=
UiPathProcessName=MyProcess
MicrosoftAppId=
MicrosoftAppPassword=
MicrosoftAppType=SingleTenant
MicrosoftAppTenantId=
MicrosoftAppPort=3978
MessageQueuePort=8080
PollingIntervalSeconds=2
ProcessTriggerKeywords=거래선,거래처,파트너,협력사,협력업체,신규
TextFormat=markdown
TaskOwnerId=
AppMessage1=거래선 관리 Agent에서 오류가 발생했습니다.<br>다음에 시도해주시기 바랍니다.
AppMessage2=이전에 요청하신 거래선 등록 작업이 진행중인지 확인중입니다.<br>진행중인 작업이 없다면 신규 등록을 지원해 드리겠습니다.<br>잠시만 기다려주세요.
AppMessage3=안녕하세요. 저는 거래선 관리 Agent입니다.<br>무엇을 도와드릴까요?